body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 3.5rem;
  background-color: rgb(88, 189, 49);
  padding: 0 1.5rem;
}

.product-form {
  padding: 1rem;
}

.submit1 {
  margin-top: 1rem;
}

.grid {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(175, 241, 166);
}

button {
  font: inherit;
  border: 1px solid rgb(88, 189, 49);
  color: rgb(88, 189, 49);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
botton:active {
  background-color: rgb(88, 189, 49);
  color: white;
}

.add-book {
  font: inherit;
  border: 1px solid rgb(88, 189, 49);
  color: rgb(88, 189, 49);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
.add-book1 {
  padding: 0 1rem;
}
.add-book:hover,
.add-book:active {
  background-color: rgb(88, 189, 49);
  color: white;
}
