<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book</title>
    <link rel="stylesheet" href="/stylesheets/product.css" />
  </head>
  <body>
    <main>
      <h1>Add a Book Here</h1>
      <form class="product-form" action="/add-book" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="form-control">
          <label for="summary">Summary</label>
          <input type="text" name="summary" id="summary" />
        </div>
        <button class="submit1" type="submit">Add Book Summary</button>
      </form>
    </main>
  </body>
</html>
