<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prove 02</title>
    <link rel="stylesheet" href="/stylesheets/product.css" />
  </head>
  <body>
    <h1>Welcome to Book Share</h1>
    <% if (titles.length > 0) { %>
    <div class="grid">
      <% for (let i=0; i < titles.length; i++) { %>
      <p>Title: <%= titles[i].title %></p>
      <p>Summary: <%= summaries[i].summary %></p>
      <% } %>
    </div>
    <% } else { %>
    <p>No Products Available.</p>
    <% } %>
    <form class="add-book1" action="/add-book">
      <input class="add-book" type="submit" value="Add Book" />
    </form>
  </body>
</html>
