<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Shop</a></li>
          <li class="main-header__item">
            <a href="/product-list">Products</a>
          </li>
          <li class="main-header__item">
            <a class="active" href="/cart">Cart</a>
          </li>
          <li class="main-header__item">
            <a href="/orders">Orders</a>
          </li>
          <li class="main-header__item">
            <a href="/add-product">Add Product</a>
          </li>
          <li class="main-header__item">
            <a href="/admin-products">Admin Products</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(p => { %>
        <li>
          <p><%= p.productData.title %> (<%= p.qty %>)</p>
          <form action="/cart-delete-item" method="POST">
            <input
              type="hidden"
              value="<%= p.productData.id %>"
              name="productId"
            />
            <button type="submit" class="btn">Delete</button>
          </form>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <h1>No Products in Cart</h1>
      <% } %>
    </main>
  </body>
</html>
